@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$light:      #cce7f5;
$dark:       #130c19;
$primary:    #0d4368;
$secondary:  #0f6aaf;
$info:       #528652;
$success:    #079853;
$warning:    #e1c709;
$danger:     #ef0403;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "../style/bootstrap/scss/functions";
@import "../style/bootstrap/scss/variables";
@import "../style/bootstrap/scss/utilities";
@import "../style/bootstrap/scss/bootstrap";

:root{
  --color: #333; 
  --bs-badge-color: 237, 233, 226;
  --bs-primary-rgb: 96, 135, 161;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  p {
    margin: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.bg-custom {
  background-blend-mode: screen;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.navigation-slot {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-size: x-large;
  padding: 1rem 0 0;
  a[href] {
    font-size: medium;
  }
}


.whatsapp_wrap{
  bottom: 65%;
  right: 23px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  box-sizing: border-box;
  direction: ltr;
  position: fixed !important;
  z-index: 16000160 !important;
  .whatsapp_btn{
      display: flex;
      margin-top: 14px;
      position: relative;
      -webkit-box-pack: start;
      justify-content: flex-start;
      a{
          width: 50px;
          height: 50px;
          order: 1;
          padding: 5px;
          box-sizing: border-box;
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
          box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
          transition: all 0.5s ease 0s;
          position: relative;
          z-index: 200;
          display: block;
          border: 0px;
          background: rgb(77, 194, 71) !important;
          color: #4dc247;
      }
  }
}

.logo-wrapper {
  display: unset;
}
  
.image-container {
  .logo-wrapper {
    display: none;
  }
}
.packages {
  padding: 1rem;
  .package {
    padding: 1rem 0;
  }
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  a {
  padding: 1rem;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  &:hover {
  color: #f1f1f1;
}
}
.closebtn {
  position: absolute;
  top: 0;
  font-size: 1rem;
  right: 0.5rem;
}
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.contact-button {
  padding: .5rem 1.5rem;
  background: #55bff1;
  color: white;
  font-weight: 600;
  position: fixed;
  transform: rotate(-90deg);
  z-index: 100;
  left: -2.8rem;
  top: 40%;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
  -webkit-box-shadow: 1px 1px 4px 3px #236C96;
  box-shadow: 1px 1px 4px 3px #236C96;
  cursor: pointer;
}

footer {
  img {
    max-width: 300px !important;
    margin: 0 auto;
  }
}


.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(85,191,241,0.9);
  padding: 10px;
  text-align: center;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 102;
  color:white;
  p {
  margin: 0;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  }
  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: $primary;
    color: white;
    border-radius: 0.5rem ;
    -webkit-border-radius: 0.5rem ;
    -moz-border-radius: 0.5rem ;
    -ms-border-radius: 0.5rem ;
    -o-border-radius: 0.5rem ;
    &:hover {
      background-color: #0056b3;
    }
  }
  #rejectAll {
    background-color: $danger;
    &:hover {
      background-color: #c82333;
    }
  }
  .cookie-options {
    text-align: left;
    margin-bottom: 10px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input {
      margin-right: 10px;
    }
  }
}


@include media-breakpoint-up(sm) { 
  .packages {
    padding: 2rem;
    .package {
      padding: 2rem;
    }
  }
  .logo-wrapper {
    display: none;
  }
  .image-container {
    .logo-wrapper {
      display: unset;
    }
  }
  .tiles{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .extra-image {
    display: none;
  }
  .cookie-consent {
    left:69%;
    bottom: 2%;
    width: 30%;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
}