// @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$light:      #cce7f5;
$dark:       #130c19;
$primary:    #0d4368;
$secondary:  #0f6aaf;
$info:       #528652;
$success:    #079853;
$warning:    #e1c709;
$danger:     #ef0403;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


@import "../style/bootstrap/scss/functions";
@import "../style/bootstrap/scss/variables";
@import "../style/bootstrap/scss/utilities";
@import "../style/bootstrap/scss/bootstrap";

:root{
  --color: #333; 
  --bs-badge-color: 237, 233, 226;
  --bs-primary-rgb: 96, 135, 161;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  p {
    margin: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.bg-custom {
  background-blend-mode: screen;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.navigation-slot {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-style: italic;
  font-size: x-large;
  padding: 1rem 0 0;
  a[href] {
    font-size: medium;
  }
}


.whatsapp_wrap{
  bottom: 65%;
  right: 23px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  box-sizing: border-box;
  direction: ltr;
  position: fixed !important;
  z-index: 16000160 !important;
  .whatsapp_btn{
      display: flex;
      margin-top: 14px;
      position: relative;
      -webkit-box-pack: start;
      justify-content: flex-start;
      a{
          width: 50px;
          height: 50px;
          order: 1;
          padding: 5px;
          box-sizing: border-box;
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
          box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;
          transition: all 0.5s ease 0s;
          position: relative;
          z-index: 200;
          display: block;
          border: 0px;
          background: rgb(77, 194, 71) !important;
          color: #4dc247;
      }
  }
}

.logo-wrapper {
  display: unset;
}
  
.image-container {
  .logo-wrapper {
    display: none;
  }
}
@include media-breakpoint-up(sm) { 
  // .content-section {
  //   flex-direction: row;
  // }
  .logo-wrapper {
    display: none;
  }
  .image-container {
    .logo-wrapper {
      display: unset;
    }
  }
  .tiles{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .extra-image {
    display: none;
  }
}
